data/**
!data/**/
!data/**/.gitkeep
experiments/**
!experiments/**/
!experiments/**/.gitkeep
models/
venv/
.venv/
.idea/
.pytest_cache/
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*.log
.DS_Store
src/outputs/
src/workspace/
outputs/